<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">


<dom-module id="checklist-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .task{
        display: flex;
        align-items: center;
      }
      paper-input{
        display: inline-block;
      }
    </style>
    <h1>Mi Todo list</h1>
    <dom-repeat 
    items="{{tasks}}"
    as="task"
    filter="isNotCompleted"
    observe="completed">
      <template is="dom-repeat">
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>
    
    <h3>Complete:</h3>
    <dom-repeat 
    items="{{tasks}}"
    as="task"
    filter="isCompleted"
    observe="completed">
      <template is="dom-repeat">
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>

    <paper-button on-click="agregarTask">Add Task</paper-button>
    
  </template>

  <script>
    /**
     * `checklist-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistElement extends Polymer.Element {
      static get is() { return 'checklist-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'checklist-element'
          },
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }
      agregarTask() {
        const newTask = {
          name: '',
          completed: false
        };
        this.push('tasks', newTask);
      }
      isNotCompleted(task){
        return !task.completed;
      }
      isCompleted(task){
        return task.completed;
      }
    }

    window.customElements.define(ChecklistElement.is, ChecklistElement);
  </script>
</dom-module>
